;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[cider/cider-nrepl "0.25.3"]
  [reagent "1.0.0-alpha2"]
  [re-frame "1.1.0"]]

 :dev-http {8020 "public"}

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"

   :modules
   {:main
    {:entries [i.app]}}
   }
  :prod
  {:target :browser
   :output-dir "deploy/js"
   :asset-path "/js"

   :modules
   {:main
    {:entries [i.app]}}
   }}}
